@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

header {
  background-color: #262525;
}

h1 {
  font-family: "Fascinate Inline";
  font-size: 50px;
  color: #b66636;
  text-align: center;
}

h2 {
  font-size: 25px;
  padding-top : 25px;
}

img {
  display: block;
  margin: auto;
  max-height: 50px;
  padding: 20px;
}

main {
  background-color: #d9b27d;
}

p {
  font-family: Georgia;
  color: #8e4525;
  margin-top: 5px;
}

li {
  font-family: Helvetica;
  color: #262525;
  margin-top: 5px;
  margin-left: 10px;
}

td {
  text-align: center;
}
